.Compost {
  .compostCard {
    background-color: rgba(255, 255, 255, 0.85);
    height: fit-content;
    box-shadow: 10px 10px 15px #000000;
    margin-bottom: 30px!important;
    h4 .card-title {
      text-decoration: underline;
      }
    img {
      padding-top: 15px;  
    }
    .compostButtons {
      margin-top: 40px;
    }
  }
}